<mat-card class="container-card">
  <mat-card-header>
    <mat-card-title>
      <span [ngClass]="{'comprado': product.comp}">
        {{ productTitle() }}
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="onEdit()">Editar</button>
    <button mat-button (click)="onDelete()">Deletar</button>
    <button mat-button (click)="toggleComprado()">
      {{ product.comp ? 'Desmarcar' : 'Marcar como Comprado' }}
    </button>
  </mat-card-actions>
</mat-card>